@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var isUnderAboutSection = currentController.Equals("about", StringComparison.OrdinalIgnoreCase);
    var isUnderSpeakingSection = currentController.Equals("speaking", StringComparison.OrdinalIgnoreCase);
    var isUnderContactSection = currentController.Equals("contact", StringComparison.OrdinalIgnoreCase);
    var isUnderBlogSection = currentController.Equals("home", StringComparison.OrdinalIgnoreCase) || 
        currentController.Equals("posts", StringComparison.OrdinalIgnoreCase);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    @RenderSection("styles", false)
    <title>@(ViewBag.PageTitle)@(string.IsNullOrWhiteSpace(ViewBag.PageTitle) ? "" : " | ")@("Tugberk Ugurlu @ the Heart of Software")</title>
    @if (!string.IsNullOrWhiteSpace(ViewBag.PageDescription))
    {
        <meta name="description" content="@ViewBag.PageDescription" />
    }
    else
    {
        <meta name="description" content="Welcome to Technical Leader and Software Engineer Tugberk Ugurlu's home on the interwebs! Here, you can find out about Tugberk's conference talks, books and blog posts on software development techniques and practices." />
    }
</head>
  <body>    
    <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Tugberk @@ the Heart of Software</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(isUnderBlogSection ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Blog @if(isUnderBlogSection) { <span class="sr-only">(current)</span> }</a>
                </li>
                <li class="nav-item @(isUnderSpeakingSection ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Index", "Speaking")">Speaking @if(isUnderSpeakingSection) { <span class="sr-only">(current)</span> }</a>
                </li>
                <li class="nav-item @(isUnderAboutSection ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Index", "About")">About @if(isUnderAboutSection) { <span class="sr-only">(current)</span> }</a>
                </li>
                <li class="nav-item @(isUnderContactSection ? "active" : "")">
                    <a class="nav-link" href="@Url.Action("Index", "Contact")">Contact @if(isUnderContactSection) { <span class="sr-only">(current)</span> }</a>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                @await Html.PartialAsync("RightSection")
            </div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
  </body>
</html>