@using Tugberk.Web.Controllers
@using Tugberk.Domain
@model Post

<div class="post-holder">
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("Index", "Posts", new { slug = Model.DefaultSlug.Path })">
                <h2>@Model.Title</h2>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="text-info">@Model.Abstract</div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    @@ <span title="@Model.CreationRecord.RecordedOn.ToLongDateString() @Model.CreationRecord.RecordedOn.ToLongTimeString() (UTC)">@Model.CreationRecord.RecordedOn.ToString("MM-dd-yyyy")</span>
                </div>
                <div class="col-sm-12">
                    by @Model.Authors.First().Name
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 post-tags-holder">
            @foreach(var tag in Model.Tags) 
            {
                <a href="@Url.Action(nameof(PostsController.GetByTag), "Posts", new { tagSlug = tag.Slugs.First(x => x.IsDefault).Path })">
                    <span class="badge badge-primary">@tag.Name</span>
                </a>
            }
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- tgbrk_responsive_3 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4310648294454189"
                 data-ad-slot="5932806794"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(@Model.Content)
        </div>
    </div>
</div>